<div *ngIf="isRecipeSelected()" class="row">
  <div class="col-xs-12">
    <img [alt]="recipe.name" [src]="recipe.imagePath" class="img-fluid" style="max-height: 300px;">
  </div>
</div>
<div *ngIf="isRecipeSelected()" class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div *ngIf="isRecipeSelected()" class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="isRecipeSelected()" class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div *ngIf="isRecipeSelected()" class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
